/* LocationBox Styles */

.location-box {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .location-box label {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .location-select {
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 8px;
    font-size: 16px;
    outline: none;
  }
  
  /* Style the select dropdown arrow */
  .location-select::-ms-expand,
  .location-select::-ms-down-arrow,
  .location-select::-webkit-select {
    appearance: none;
    display: none;
  }
  
  /* Style the select dropdown arrow for Firefox */
  .location-select::-moz-focus-inner {
    border-style: none;
  }
  
  