/* .image-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.image-container {
  flex-basis: calc(25% - 10px);
  margin-right: 10px;
  margin-bottom: 10px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.logo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.logo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.logo-image {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.logo-link {
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
}

.page-content {
  font-size: 18px;
  padding: 20px;
  text-align: center;
}

.Home_categoryselector {
  position: absolute;
  top: 40%;
  left: 30%;
  z-index: 1;
}
.Home_Category_Div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}
.Home_Category_Div_Img {
  border-radius: 90%;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.Home_Category {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
} */
.Category_area h1{
  text-align: center;
}

.Home_Category{
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(360px,1fr));
  gap: 20px;
  text-decoration: none;
  place-items: center;
  margin-bottom: 10px;
}

.Home_Category_Div{
  padding: 5px;
  overflow: hidden;
  height: 480px;
  width: 90%;
  background-color: rgba(225, 226, 227, 0.567);
  border-radius: 9px;
}

.Home_Category_Div img{
  height: 80%;
  width: 99.5%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 0px solid rgba(94, 94, 94, 0.968);
}

.Home_Category_Div_text{
  text-decoration: none;
  color: black;
  font-weight: bolder;
  font-style: none;
}

.Service_Bottom{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.Service_Bottom button{
  max-height: 80%;
  border: 2px solid black;
  border-radius: 8px;
  background-color: rgb(96, 170, 248);
  font-weight: bold;
  transition: ease-in 0.3s;
}
.Service_Bottom button:hover{
  transition: ease-out 0.3s;
  transform: scale(1.1);
  background-color: rgb(67, 145, 228);
  box-shadow: 10px 10px 10px rgba(149, 149, 149, 0.667);
}

@media (max-width : 768px){
  .Home_Category{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(265px,1fr));
    gap: 10px;
    text-decoration: none;
    place-items: center;
    margin-bottom: 10px;
  }
  .Home_Category_Div{
    padding: 5px;
    overflow: hidden;
    height: 400px;
    width: 90%;
    background-color: rgba(225, 226, 227, 0.567);
    border-radius: 9px;
  }
}

@media (max-width : 540px){
  .Home_Category{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 10px;
    text-decoration: none;
    place-items: center;
    margin-bottom: 10px;
  }
  .Home_Category_Div{
    padding: 5px;
    overflow: hidden;
    height: 300px;
    width: 90%;
    background-color: rgba(225, 226, 227, 0.567);
    border-radius: 9px;
  }
}
@media (max-width : 414px){
  .Home_Category{
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 10px;
    text-decoration: none;
    place-items: center;
    margin-bottom: 10px;
  }
  .Home_Category_Div{
    padding: 5px;
    overflow: hidden;
    height: 300px;
    width: 70%;
    background-color: rgba(225, 226, 227, 0.567);
    border-radius: 9px;
  }
}